<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>level</key>
		<integer>0</integer>
		<key>detail</key>
		<string>未到达收取税标准</string>
		<key>outOfPart</key>
		<integer>0</integer>
		<key>taxRate</key>
		<integer>0</integer>
		<key>quickDeduction</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>level</key>
		<integer>1</integer>
		<key>detail</key>
		<string>不超过2,910元的部分</string>
		<key>outOfPart</key>
		<integer>3000</integer>
		<key>taxRate</key>
		<real>0.03</real>
		<key>quickDeduction</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>level</key>
		<integer>2</integer>
		<key>detail</key>
		<string>超过2,910元至11,010元的部分</string>
		<key>outOfPart</key>
		<real>12000</real>
		<key>taxRate</key>
		<real>0.1</real>
		<key>quickDeduction</key>
		<integer>210</integer>
	</dict>
	<dict>
		<key>level</key>
		<integer>3</integer>
		<key>detail</key>
		<string>超过11,010元至21,410元的部分</string>
		<key>outOfPart</key>
		<real>25000</real>
		<key>taxRate</key>
		<real>0.2</real>
		<key>quickDeduction</key>
		<integer>1410</integer>
	</dict>
	<dict>
		<key>level</key>
		<integer>4</integer>
		<key>detail</key>
		<string>超过21,410元至28,910元的部分</string>
		<key>outOfPart</key>
		<real>35000</real>
		<key>taxRate</key>
		<real>0.25</real>
		<key>quickDeduction</key>
		<integer>2660</integer>
	</dict>
	<dict>
		<key>level</key>
		<integer>5</integer>
		<key>detail</key>
		<string>超过28,910元至42,910元的部分</string>
		<key>outOfPart</key>
		<real>55000</real>
		<key>taxRate</key>
		<real>0.3</real>
		<key>quickDeduction</key>
		<integer>4410</integer>
	</dict>
	<dict>
		<key>level</key>
		<integer>6</integer>
		<key>detail</key>
		<string>超过42,910元至59,160元的部分</string>
		<key>outOfPart</key>
		<real>80000</real>
		<key>taxRate</key>
		<real>0.35</real>
		<key>quickDeduction</key>
		<integer>7160</integer>
	</dict>
	<dict>
		<key>level</key>
		<integer>7</integer>
		<key>detail</key>
		<string>超过59,160元的部分</string>
		<key>outOfPart</key>
		<real>80000000</real>
		<key>taxRate</key>
		<real>0.45</real>
		<key>quickDeduction</key>
		<integer>15160</integer>
	</dict>
</array>
</plist>
